@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    background: #EDF6F9;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav>li {
    padding-left: 30px;
    padding-right: 15px;
}

.navbar-brand img {
    height: 3.5rem;
    padding-left: 30px;
    padding-right: 7px;
}

.courses-container {
    position: absolute;
    padding-left: 60px;
    padding-top: 30px;
}

.courses-overview {
    width: 325px;
    background: white;
    border-color: #D1D1D1;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    position: absolute;
    padding-bottom: 10px;
    padding-top: 10px;
}

.title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}

.course-name-container {
    padding-top: 30px;
    margin-bottom: 230px;
}

.courses-title {
    font-size: 24px;
    padding-left: 28px;
    line-height: 1.5;
}

.coursename-overview {
    width: 940px;
    background: white;
    border-color: #D1D1D1;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    position: absolute;
    padding-bottom: 10px;
    padding-top: 10px;
}

.coursename-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

.sectionname-title {
    font-size: 24px;
    line-height: 1.5;
    padding-left: 28px;
}

footer {
    background: black;
    height: 25vh;
}