@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    background: #EDF6F9;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav>li {
    padding-left: 30px;
    padding-right: 15px;
}

.navbar-brand img {
    height: 3.5rem;
    padding-left: 30px;
    padding-right: 7px;
}

.teacher {
    margin-bottom: 5%;
}

#teacher-avi {
    height: 520px;
    background: white;
    border-radius: 60px;
    background-image: url(../img-s/woman-avi.jpg);
    background-size: 143%;
    background-position: center;
}

.teacher-desc {
    width: 410px;
    background: white;
    border-radius: 15px;
}

.info-header {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding-top: 10px;
}

.info-content {
    align-items: center;
    padding-top: 20px;
    width: 370px;
    padding-left: 30px;
    line-height: 1.5;
}

.education-li-head {
    font-weight: 700;
}

.contact-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    margin-right: 20px;
    padding-bottom: 10px;
    font-weight: 700;
}

footer {
    background: black;
    height: 25vh;
}

footer h3 {
    color: white;
    text-align: left;
    padding-top: 1.5%;
}

footer h3::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-45vw, 5vh);
    width: 85%;
    height: 0.3%;
    background: #83C5BE;
}

#adress {
    color: white !important;
    position: absolute;
    left: 15%;
}

#contacts {
    color: white;
    position: absolute;
    left: 65%;
}

footer p {
    padding-top: 2%;
}